.tableStudent{
  display: flex;
  flex-direction: column;
  align-items: center;
}
:global(.ant-table-wrapper) {
  width: 100%;
  margin-bottom: 20px;
}
.pagination{}
@media (max-width: 768px) {
  .tableStudent {
    overflow-x: auto;
    padding: 0px 15px;
    overflow-y: auto;
   // height: 100%;
   // position: relative;
    width: 100vw;
  }
}