.inputContainerButton{
  background-color: #FEAF00;
  font-weight: 400;
  font-size: 14px;
  line-height: 17.07px;
  width: 100%;
  min-width: 200px;
  height: 44px;
  border-radius: 4px;
  border: none;
  color: white;
  margin: 12px 0px 12px 14px
}
.inputContainerButton:hover{
 cursor: pointer;
}
@media (max-width: 768px){
.inputContainerButton{
  margin: 12px 0px;
}
}