.updateStudentContainer {
  padding: 0 40px;
}
.tittleUpdateStudent {
  border: none;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 40px;
}
.buttonSubmit {
  background-color: #f6b934;
  font-weight: 400;
  font-size: 14px;
  line-height: 17.07px;
  width: 100%;
  max-width: 180px;
  height: 42px;
  border-radius: 12px;
  border: none;
  color: white;
  margin-right: 20px;
}
.buttonReset{
  @extend .buttonSubmit;
  background-color: #cee3f0;
  color: #383535;

}
:global(.ant-btn:hover){
  cursor: pointer;
  color: #000!important;
  background-color: #f0f9ff !important;

}