.paymentContainer{
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0px 30px;
}
.button{ 
  display: none;
}
@media (max-width: 768px) {
  .tablePayment {
    overflow-x: auto;
    overflow-y: auto;
   // height: 100%;
    position: relative;
    width: 100vw;
  }
  .paymentContainer{
    padding: 0 ;
  }
}