.studentHeader{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E5E5E5;

  .studentHeaderRight{
    display: flex;
    align-items: center;
    .studentHeaderIcon{
      width: 14px;
      height: 20px;
    }
  

  }
}
@media(max-width:767px){
  .studentHeader{
    flex-direction: column;
    align-items: center;
  }
  .studentHeaderRight{
    flex-direction: row-reverse;
    .studentHeaderIcon{
      width: 25px;
      height: 30px;
      margin-left: 40px;
    }

  }
}