.sidebarContent {
  background: #f2eae1;
  max-width: 270px;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: 2;
  .sidebarHeader {
    padding: 0px 25px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .sidebarTittle {
      width: 100%;
      max-width: 220px;
      border-left: 6px solid #f8d442;
      display: block;
      font-weight: 600;
      line-height: 24.38px;
      font-size: 19px;
      padding-left: 10px;
      margin-top: 18px;
      color: black;
      font-family: MontserratExtraBold;
    }
    .sideberProfile {
      padding: 54px 45px 0px 45px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .sidebarHeaderImg {
        border-radius: 50%; // Làm tròn hình ảnh
        object-fit: cover;
        width: 100%;
      }
      .sidebarUserName {
        font-size: 16px;
        font-weight: 800;
        line-height: 20px;
        margin-top: 18px;
        padding-bottom: 10px;
        font-family: MontserratBold;
      }
      .sidebarUserRole {
        color: #feaf00;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
      }
    }
  }
  .navMenu {
    padding: 80px 39px 31px 39px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .navItems {
      list-style-type: none;
      .navItem {
        width: 100%;
        height: 41px;
        font-weight: 600;
        border-radius: 4px;
        margin-bottom: 10px;
        padding-left: 40px;
        display: flex;
        align-items: center;
        justify-self: center;
        text-decoration: none;
        color: #000;
      }
      .navItem img {
        width: 20px;
        height: 20px;
      }
      .navItem span {
        font-size: 14px;
        line-height: 17px;
        padding-left: 15px;
      }
    }
    .navItem:hover {
      background-color: #feaf00;
      cursor: pointer;
    }
    .navItem.activeNavItem {
      background-color: #f0f0f0; /* Thay đổi màu nền theo ý muốn */
    }
    .logOut {
      display: flex;
      align-items: center;
      padding-left: 54px;
      text-decoration: none;
      .logOutText {
        padding-right: 23px;
        color: #000;
      }
    }
  }
}
//phone
@media (max-width: 768px) {
  .sidebarContent {
    display: block;
    position: absolute;
    width: 100%;
    max-width: none;
    .sidebarHeader {
      padding-right: 0px;
      padding-left: 10px;
      flex-direction: row;
      .sidebarTittle {
        padding: 7px;
      }
      .sideberProfile {
        display: none;
      }
    }
    .navMenu {
      width: 70%;
      margin: auto;
      padding: 30px 0px;
      .navItems{

          .navItem{ 
            padding-left: 0px;
            margin: 20px 0px;
            height: 50px;
            .navImg{
              width: 30px;
              height: 30px;
            }
            .text{
              text-align: center;    
              font-size: 22px;
            }
          }
         
        }
      
      .sideBarBottom {
        .profile {
          display: flex;
          margin-top: 130px;
          .sidebarHeaderImg {
            border-radius: 50%;
            object-fit: cover;
            width: 30%;
          }
          .profileInformation {
            display: flex;
            flex-direction: column;
            padding-left: 20px;
            .sidebarUserName {
              font-size: 16px;
              font-weight: 800;
              line-height: 20px;
              margin-top: 18px;
              padding-bottom: 10px;
              font-family: MontserratBold;
            }
            .sidebarUserRole {
              color: #feaf00;
              font-weight: 400;
              font-size: 14px;
              line-height: 17px;
              text-align: center;
            }
          }
        }
        .logOut {
          background: linear-gradient(110.42deg, #feaf00 18.27%, #f8d442 91.84%);
          padding: 10px 45px;
          border-radius: 8px;
          margin-top: 20px;
          .logOutText {
            padding-right: 30px;
            color: #000;
            font-size: 24px;
            font-weight: 600;
          }
          .logOutIcon {
            width: 30px;
          }
        }
      }
    }
  }
}
//tablet
@media (min-width: 769px) and (max-width: 1023px) {
}
//pc
@media (min-width: 1024px) {
}
//pc and tablet
@media (min-width: 769px) {
  .profile {
    display: none;
  }
  .openNav {
    display: none;
  }
}
