$dark: #000;
$light: #fff;
$ligt-blue: #f0f9ff;
$light-pink: #fef6fb;
$light-ivory: #fefbec;
$primary: #feaf00;
$secondary: #f2eae1;
$linear: linear-gradient(to right, #feaf00, #f8d442);
$grey: #e5e5e5;
$colors: $ligt-blue, $light-pink, $light-ivory, $linear;
